{#{% extends 'base.html' %}#}
{#{% load static %}#}

{% block contents %}

    <div class="container" style="margin-top: 100px">

        <h1>{{ object.title }}</h1>
{#        <h1>公募タイトル</h1>#}

        <h2>採点してみる</h2>
        <form>
{#            <div class="mb-3">#}
{#                <label for="exampleInputEmail1" class="form-label">五</label>#}
{#                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">#}
{#            </div>#}
{#            <div class="mb-3">#}
{#                <label for="exampleInputEmail1" class="form-label">七</label>#}
{#                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">#}
{#            </div>#}
{#            <div class="mb-3">#}
{#                <label for="exampleInputEmail1" class="form-label">五</label>#}
{#                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">#}
{#            </div>#}
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="" class="col-form-label">五</label>
                </div>
                <div class="col-auto">
                    <input type="" id="" class="form-control" aria-describedby="">
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="" class="col-form-label">七</label>
                </div>
                <div class="col-auto">
                    <input type="" id="" class="form-control" aria-describedby="">
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="" class="col-form-label">五</label>
                </div>
                <div class="col-auto">
                    <input type="" id="" class="form-control" aria-describedby="">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">採点する</button>
        </form>

        <dl>
            <dt>懸賞</dt>
            <dd>{{ object.prize }}</dd>
            <dt>応募先</dt>
            <dd>{{ object.link }}</dd>
            <dt>締切</dt>
            <dd>{{ object.deadline }}</dd>
            <dt>公募テーマ</dt>
            <dd>{{ object.contents }}</dd>
            <dt>参加資格</dt>
            <dd>{{ object.requirements }}</dd>
            <dt>主催</dt>
            <dd>{{ object.sponsor }}</dd>
        </dl>
    </div>
{#    <div style="margin-top: 100px">detail</div>#}

{% endblock %}