{% extends 'base.html' %}
{% load static %}

{% block kobo_detail %}

    <div class="container d-grid gap-3" style="margin-top: 100px">

        <h1>{{ object.title }}</h1>
        <h2>採点してみる</h2>
        <div class="container p-2 border border-1 rounded-3" style="--bs-bg-opacity: .5;">

            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">川柳・俳句を入力</label>
                    <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">入力例：閑さや 岩にしみ入る 蝉の声</div>
                </div>

                <button type="submit" class="btn btn-outline-success">採点する</button>
            </form>
        </div>

        <dl class="d-grid gap-3">
            <dt>懸賞</dt>
            <dd>{{ object.prize }}</dd>
            <dt>応募先</dt>
            <dd>{{ object.link }}</dd>
            <dt>締切</dt>
            <dd>{{ object.deadline }}</dd>
            <dt>公募テーマ</dt>
            <dd>{{ object.contents }}</dd>
            <dt>参加資格</dt>
            <dd>{{ object.requirements }}</dd>
            <dt>主催</dt>
            <dd>{{ object.sponsor }}</dd>
        </dl>
    </div>
{#    <div style="margin-top: 100px">detail</div>#}

{% endblock %}