{% extends 'base.html' %}
{% load static %}

{% block top_contents %}

    <div class="container" style="margin-top: 100px">

        <!-- パンクズリスト -->
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <!-- <li class="breadcrumb-item"><a href="#">Home</a></li> -->
                <li class="breadcrumb-item active" aria-current="page">Top</li>
            </ol>
        </nav>

        <!-- メインコンテンツエリア -->
        <div class="d-grid gap-4">

            <!-- 新着情報とおすすめ記事 -->
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card" style="height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title">新着情報</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title">おすすめ</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 公募情報並び替え -->
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">新着順</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">締切順</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">賞金順</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">名前順</a>
                </li>
            </ul>

{% endblock %}

<!-- 公募情報エリア -->
{% block kobo_info %}
    {{ data }}
    {% for kobo in kobo_list %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    {{ kobo.title }}
                </h5>
                <p class="card-text">
                    賞金：{{ kobo.prize }}
                </p>
                <p class="card-text">
                    締切：{{ kobo.deadline }}
                </p>
                <p class="card-text">
                    募集内容：{{ kobo.contents }}
                </p>
                <p class="card-text">応募リンク：<a href="{{ kobo.link }}" class="card-link">
                    {{ kobo.link }}
                </a></p>
                <a href="{% url 'haiku:detail' %}" class="btn btn-primary">もっと詳しく</a>
            </div>
        </div>
    {% empty %}
        <p>公募がありません。。。。</p>
    {% endfor %}





{#            <div class="card" style="height: 300px;">#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title">女性活躍川柳</h5>#}
{#                    <p class="card-text">賞金：VISAギフトカード　10,000円分</p>#}
{#                    <p class="card-text">締切：2022年01月01日</p>#}
{#                    <p class="card-text">募集内容：「論理的」をお題にした川柳</p>#}
{#                    <p class="card-text">応募リンク：<a href="https://www.sdgswip.com/pages/5514498/static" class="card-link">https://www.sdgswip.com/pages/5514498/static</a></p>#}
{#                    <a href="#" class="btn btn-primary">もっと詳しく</a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="card" style="height: 300px;">#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title">まるせん　論理的川柳コンテスト</h5>#}
{#                    <p class="card-text">賞金：ギフト券 500円分</p>#}
{#                    <p class="card-text">締切：2021年12月31日</p>#}
{#                    <p class="card-text">募集内容：「薬」をお題とした川柳を募集</p>#}
{#                    <p class="card-text">応募リンク：<a href="https://marusenryu.com/contest/269" class="card-link">https://marusenryu.com/contest/269</a></p>#}
{#                    <a href="#" class="btn btn-primary">もっと詳しく</a>#}
{#                </div>#}
{#            </div>#}

{% endblock %}

{% block botton_contents %}
            <!-- ページネーション -->
            <nav aria-label="Page navigation example" style="margin-bottom: 100px">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

{% endblock %}