{% extends 'index.html' %}
{% load static %}

{% block kobo_info %}

<div class="card" style="height: 300px;">
    <div class="card-body">
        <h5 class="card-title">くらし川柳</h5>
        <p class="card-text">賞金：JCBギフトカード　5,000円分</p>
        <p class="card-text">締切：2022年01月13日</p>
        <p class="card-text">募集内容：『バレンタイン』をお題にした川柳</p>
        <p class="card-text">応募期間：2021年12月3日（金）～1月13日（木）</p>
        <p class="card-text">応募リンク：<a href="https://present.eonet.jp/senryupre21120301/" class="card-link">https://present.eonet.jp/senryupre21120301/</a></p>
        <a href="{% url 'haiku:detail' %}" class="btn btn-primary">もっと詳しく</a>
    </div>
</div>
<div class="card" style="height: 300px;">
    <div class="card-body">
        <h5 class="card-title">女性活躍川柳</h5>
        <p class="card-text">賞金：VISAギフトカード　10,000円分</p>
        <p class="card-text">締切：2022年01月01日</p>
        <p class="card-text">募集内容：「論理的」をお題にした川柳</p>
        <p class="card-text">応募リンク：<a href="https://www.sdgswip.com/pages/5514498/static" class="card-link">https://www.sdgswip.com/pages/5514498/static</a></p>
        <a href="#" class="btn btn-primary">もっと詳しく</a>
    </div>
</div>
<div class="card" style="height: 300px;">
    <div class="card-body">
        <h5 class="card-title">まるせん　論理的川柳コンテスト</h5>
        <p class="card-text">賞金：ギフト券 500円分</p>
        <p class="card-text">締切：2021年12月31日</p>
        <p class="card-text">募集内容：「薬」をお題とした川柳を募集</p>
        <p class="card-text">応募リンク：<a href="https://marusenryu.com/contest/269" class="card-link">https://marusenryu.com/contest/269</a></p>
        <a href="#" class="btn btn-primary">もっと詳しく</a>
    </div>
</div>

{% endblock %}